.form{
    @include absoluteCenter();
    height: 750px;
    width: 50%;
    background-color: rgba($color: #FFF, $alpha: 0.88);
    border-radius: 15px;
    box-shadow: 1px 0px 30px rgba($color: #606060, $alpha: 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 2.5%;

    @media screen AND (max-width: 1650px) {
        width: 55%;
    }
    @media screen AND (max-width: 1490px) {
        width: 60%;
    }
    @media screen AND (max-width: 1360px) {
        width: 65%;
    }
    @media screen AND (max-width: 1240px) {
        width: 70%;
    }
    @media screen AND (max-width: 1120px) {
        width: 75%;
        padding: 30px 4%;
    }
}

.form-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 60px);
    grid-row-gap: 40px;
  }