.form{
    @include absoluteCenter();
    height: 750px;
    width: 50%;
    background-color: rgba($color: #FFF, $alpha: 0.88);
    border-radius: 15px;
    box-shadow: 1px 0px 30px rgba($color: #606060, $alpha: 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 2.5%;

    @media screen AND (max-width: 1650px) {
        width: 55%;
    }
    @media screen AND (max-width: 1490px) {
        width: 60%;
    }
    @media screen AND (max-width: 1360px) {
        width: 65%;
    }
    @media screen AND (max-width: 1240px) {
        width: 70%;
    }
    @media screen AND (max-width: 1120px) {
        width: 75%;
        padding: 30px 4%;
    }
    @media screen AND (max-width: 1030px) {
        height: 700px;
        width: 80%;
        padding: 20px 6%;

    }
    @media screen AND (max-width: 860px) {
        height: 720px;
        width: 90%;

    }
    @media screen AND (max-width: 768px) {
        height: 90vh;
        background-color: rgba($color: #FFF, $alpha: 0.8);
        padding: 10px 6%;
        transform: translate(-50%, -53%);
    }
    @media screen AND (max-width: 415px) {
        height: 750px;
        background-color: rgba($color: #FFF, $alpha: 0.8);
        padding: 10px 6%;
        transform: translate(-50%, -50%);
    }
    @media screen AND (max-height: 750px) {
        height: 600px;
        background-color: rgba($color: #FFF, $alpha: 0.8);
        padding: 10px 6%;
        transform: translate(-50%, -50%);
    }




}

.form-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 60px);
    grid-row-gap: 40px;
    @media screen AND (max-width: 1030px) {
        grid-template-rows: 40px 40px 125px 60px;
        grid-row-gap: 45px;
    }
    @media screen AND (max-width: 768px) {
        grid-template-rows: 120px 60px 120px 50px;
        grid-row-gap: 40px;
    }
    @media screen AND (max-width: 415px) {
        grid-template-rows: 110px 50px 110px 40px;
        grid-row-gap: 30px;
        position: relative;

    }
    
  }