.form-group{
    display: flex;
    flex-direction: column;
    color: $primary-color;
    position: relative;


    label{
      font-size: 16px;
      transform: translateY(17px);
      position: relative;
    }

    input{
      opacity: 0%;
      position: absolute;
      z-index: -1;
    }
    
  }

  // Inputs generated

  .form-input{

    .input-text{
      display: inline-block;
      height: 16px;
    }

    .input-underline{
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      position: relative;
      left: 0;
      top: 3px;
    }
  }



  // inputs generated on focus state
  .form-group.focus{
    label{
      transform: translateY(-10px);
      transition: transform 0.4s ease-in-out;
      color: $secondary-color;
    }
    .form-input{

      .input-underline{
        background-color: $secondary-color;
      }
    }
  }

