// Variables
$primary-color: #5A8F7D;
$secondary-color: #A7CA64;
$accent-color: #C24F7D;

$btn-width: 120px;
$btn-height: 40px;
$btn-height-md: 65px;
$btn-width-md: 90%;
$btn-height-sm: 50px;
$btn-width-sm: 90%;
$radius-btn: 7px;
$btn-text: #FFF;