@import './variables';
@import "./assets/minireset";
@import './color-classes';
@import "./assets/font";
@import "mixins";
@import './layouts/layouts';
@import "./composants/composants";



body{
  font-family: 'Aileron', sans-serif;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-image: url("./../imgs/background.jpg");
  background-position: 0 75%;
}

// Layout

.title{
  position: relative;
  top: 15px;
  .logo{
    max-width: 250px;
    margin: 10px auto;

  }
  h1{
    font-size: 32px;
    color: $primary-color;
    font-weight: 600;
  }
}

.form .btn{
  margin-left: auto;
}

// validation 

.validation-text{
  color: red;
  position: relative;
  top: -10px;
  opacity: 0%;
}
.validation-text.active{
  transform: translateY(17px);
  opacity: 100%;
  transition: transform ease-in-out 0.4s, opacity ease-in 0.2s;
}